.custom-table thead th {
    padding: 1.2rem;
    color: #495057;
}

.avatar-sm {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    background-color: #e7f1ff; /* Bleu très clair */
}

/* Badges Soft Styles */
.bg-success-soft { background-color: #d1e7dd; }
.bg-danger-soft { background-color: #f8d7da; }
.bg-primary-soft { background-color: #cfe2ff; }

tr:hover {
    background-color: #f8f9fa;
    transition: 0.2s;
}

.btn-group .btn {
    padding: 0.4rem 0.8rem;
}
